{% extends "global/base.html" %}

{% block app_content %}
   <div class="container">
      <h1>What does Transit∿ do?</h1>
      <p>Our application helps people connect with transit in the course of their busy lives. We make it easy to see <a href="http://trimet.org/">TriMet</a> arrival times at a glance while you are on your way out of your front door.</p>
    </div>
    <div class="container">
      <h1>How does Transit∿ work?</h1>
      <p> You use our website to setup your arrival times by providing us with your address, and we connect with the Trimet API to get the arrival times for you preferred transit stops.</p>
      <p> Then you use your Raspberry PI to connect to our API and display your preferred transit stop data on an LED screen by your front door,</p>
    </div>
     <div class="container">
      <h1>Which public transit systems does Transit∿ work with ?</h1>
      <p> At this time we only support <a href="http://trimet.org/">TriMet</a></p>

    </div>


  </div>
{% endblock %}