{% extends "global/base.html" %}

{% block app_content %}
    <div class='container'">
        <div valign="top">
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>Hi, {{ current_user.username }}!</h1>
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('user.edit_profile') }}">Edit your profile</a></p>
                    <p><a href="{{ url_for('addresses.index') }}">Edit Your Addresses</a></p>
                    <p><a href="{{ url_for('stops.index') }}">Edit Your Stops</a></p>
                {% endif %}
            </td>
        </div>
    </div>
    <hr>
{% endblock %}
