<footer style='background: #f8f8f8; padding-top: 12px;''>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
            <h4>Service Areas</h4>
            <ul class="list-unstyled">
                <li>Portland Metro, OR</li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h4>Transit Partners</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.trimet.org">TriMet</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h4>Source Code</h4>
          <ul class="list-unstyled">
            <li><a href="https://github.com/nilesvm/transit-sign">GitHub</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h4>Pages</h4>
          <ul class="list-unstyled">
            <li><a href="#">Signup</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Home</a></li>
          </ul>
        </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-xs-center"><a href="http://www.mcgiver.io">&copy; 2018 McGiver.io</a></p>
      </div>
    </div>
  </div>
</footer>