{% if stop.id %}

  <h2>Stop ID: {{stop.stop_id}} </h2>
  <a href="{{ url_for('stops.edit', stop_id=stop.id) }}">
    <div class='container'>
        <div class='row' valign="top">
            <div width="300px">
              {{ googlemap(stop.map_name_param(), lat=stop.latitude, lng=stop.longitude, markers=[(stop.latitude, stop.longitude)] )}}
            </div>
            <p> Active?: {{ stop.active }} </p>
            <p>{{ stop.latitude, stop.longitude }}  </p>
            <p>{{ stop['address']}}</p>

        </div class='row'>
    </div>
  </a>

  {% if stop.active %}
    <ul>
      {% for arrival in stop.arrivals() %}
        {% include 'global/_arrival.html' %}
      {% endfor %}
    </ul>
  {% else %}
      <h4>You do not stops, please activate one.</h4>
  {% endif %}

{% endif %}